.about{
  width: 100vw;
  height: 100vh;
  background: gray;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  >*{
    margin-bottom: 10rem;
  }
  p{
    width: 70%;
    font-size: 1.2rem;
  }
  a{
    text-decoration: none;
    font-size: 2rem;
    color: goldenrod;
    border: goldenrod 2px solid;
    padding: 10px 25px;
    border-radius: 5px;
    &:hover{
      box-shadow: 0 0 10px black;
    }
  }
}