.container{
  .rooms{
    max-width: 98.5vw;
    width: 99vw;
    min-height: 60vh;
    display: grid;
    place-items: center;
    background: url('../../data/images/room-1.jpeg') no-repeat;
    background-size: 100% 100%;
    >div{
      background-color: rgba(255, 255, 0, 0.192);
      color: rgba(0, 128, 0, 0.438);
      a{
        color: green;
        background: transparent;
      }
    }
  }
  >:nth-child(2){
    width: 98.5vw;
    max-width: 99.5vw;
    background: white;
    color: black;
  }
  .input{
    padding: 30px;
    max-width: 85vw;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.2rem;
    >div{
      >*{
        margin: 5px 0;
      }
      input{
        max-width: 100px;
        padding: 0 0 0 5px;
      }
    }
    @media (max-width: 650px) {
      flex-direction: column;
      >div{
        width: 80%;
        display: grid;
        justify-content: start;
        grid-template-columns: 1fr 1fr;
        >*{
          text-align: center;
          margin: 10px 20px;
          flex: 1;
        }
      }
    }
  }
  .flex{
    display: flex;
  }
  .wrap{
    flex-wrap: wrap;
  }
  .column{
    flex-direction: column;
  }
  .center{
    justify-content: space-between;
    align-items: center;
  }

  .filter{
    height: 60vh;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
    >*{
      margin: 15px 10px;
      box-shadow: 0 0 5px black;
    }
  }
  .img{
    width: 30%;
    max-height: 300px;
    img{
      width: 100%;
      height: 100%;
    }
    @media (max-width:700px) {
      width: 95%;
    }
  }
}

